#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0;
    transition: .5s ease;
    z-index: -1;
}

#overlay.active {
    opacity: 1;
    z-index: 2;
}

.ventana-modal {
    max-height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: red;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: .5s ease;
    overflow-y: scroll;
}

.ventana-modal.active {
    visibility: visible;
    opacity: 1;
}

body {
    background-color: white;
}

#contenido {
    width: 100%;
    height: 100%;
}

.modal {
    width: 40%;
    height: 40%;
    font-size: 3vw;
    background-color: red;
    color: white;
}

textarea {
    width: 40%;
    height: 30%;
    font-size: 3vw;
    background-color: white;
    color: red;
    border: 1px solid red;
    overflow-y: scroll;
}

.aceptar {
    width: 15%;
    height: 4%;
    font-size: 3vw;
    background-color: red;
    color: white;
    border: 1px solid red;
}

.cancelar {
    width: 15%;
    height: 4%;
    font-size: 3vw;
    background-color: white;
    color: red;
    border: 1px solid red;
}

.buscador {
    position: relative;
}

h1, h2, caption{
    color: red;
    font-size: 5vw;
}

caption {
    text-align: center;
}

table {
    width: 80%;
    background-color: white;
}

th, td {
    width: auto;
    border: 1px solid red;
    color: red;
}

td {
    display: flex;
    align-items: center;
    justify-content: center;
}

tr:hover {
    background-color: red;
}

tr:hover th td {
    color: white;
}

td *, th * {
    width: auto;
    height: 10%;
    font-size: 3vw;
}

p {
    color: red;
    font-size: 3vw;
}

.contenedor-primario {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.contenedor-primario::-webkit-scrollbar, .ventana-modal::-webkit-scrollbar, textarea::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

.contenedor-primario::-webkit-scrollbar-thumb, .ventana-modal::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}

.contenedor-secundario {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}